body {
    /* font-weight: lighter; */
    position: relative;
    background-color: #333333;
    font-family: "Trebuchet MS", 'Lato', sans-serif;
}

.nav-icon-01, .nav-icon-02, .nav-icon-03, .nav-icon-04{
    max-width:55px;
    margin-bottom: 0.5rem; 
}

.bgcolor {
    background-color:#ffffff
}

.img {
    max-width: 100%;
    max-height: 100%;
    
}

.homeimage {
    width: 56px;
    height: 56px;

}

.nav-list {
margin-top: 0.5rem;
margin-bottom: 0.5rem;
/* margin-left: 1rem; */
margin-right: 1rem;
}

/* 動畫開始{
.nav-link::after{
content: '';
width: 0%;
position:absolute;
border-bottom: 0.5px solid #000000;
bottom: 0;
left: 50%;
transition: all 500ms ease;
}
.nav-link:hover:after{
left: 0;
width: 100%;
} */
   
.nav-link{
color: #000000;
position: relative;
}
   
.nav-link:hover{
color: #000000;
}
/* 動畫結束 */

/* 彈跳視窗 */
.thumbnail {
    max-width: 100%;
    /* border: #FFFFFF solid 2px; */
    transition: 0.7s;
    /* border-radius: 0.6rem; */
    /* box-shadow: 2px 7px 1px rgba(7, 29, 109, 0.5); */
  }

/** LIGHTBOX MARKUP **/
.lightbox {
      /** Default lightbox to hidden */
      display: none;
      /** Position and style */
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
  }
  
.lightbox img {
/** Pad the lightbox image */
      max-width: 100%;
      max-height: 70%;
      margin-top: 7rem;
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
  }
  
.lightbox:target {
      /** Remove default browser outline */
      outline: none;
      opacity: 1;
      /** Unhide lightbox **/
      display: block;
  }
/** LIGHTBOX MARKUP **/

.et-hero-tabs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 20vh;
position: relative;
background: #eee;
text-align: center;
padding: 0 2em;
}

.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relativef;
background: #eee;
text-align: center;
padding: 0 2em;
}

@media (max-width: 480px) {
    .nav-bar {
        display: none;
    }
}

li {
    position: relative;
    text-align: start;
    font-size: 14px;
    list-style-type: none;
}

@media (max-width: 990px) {
    li {
        position: relative;
        text-align: center;
        font-size: 14px;
        list-style-type: none;
    }
}

/* .navbar-brand {
    width: 100%;
} */

@media (min-width:800px) {
    .navbar-brand {
        width: 72%
    }
}

/* .modal-content {
    background: transparent;
    border: transparent;
} */
/* 
.modal {
    background: rgba(0,0,0,0.5);
} */

.modal-header {
    border: transparent;
}

.btn {
    color: #ffffff;
}

.btn:hover {
    color: #ffffff;
}

.modal-content span {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
}

.nav-bar {
    text-align: center;
}

.fixed-top {
    box-shadow: 6px 3px 10px rgba(0, 0, 0, 0.2);
}

.link {
    width: 120px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: transparent;
    border: transparent;
    transition-duration: 0.25s;
    cursor: pointer;
}

.nav-tabs {
    border: transparent;
}

.nav-tabs li a {
    font-size: 11.3px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: #000000;
}

.nav-tabs li {
    margin-bottom: 1.2px;
}

@media (max-width: 990px) {
    .nav-tabs li {
        margin-bottom: 0px;
    }
}

.nav-tabs li a:hover {
    text-decoration: none;
    color: #cccccc;
}

.nav-tabs-outer {
    height: 0px;
    overflow-y: scroll;
    transition: .3s;
}

.nav-tabs-outer.show {
    height: 430px;
}

@media (min-width:991px) {
    .nav-tabs-outer {
        height: 450px;
        overflow-y: scroll;
        transition: .3s;
    }

    .nav-tabs-outer.show {
        height: 450px;
        overflow-y: scroll;
        transition: .3s;
    }
}

/* .navbar {
    justify-content: center;
    padding: 0.4rem 1rem;
    background-color: rgba(167, 167, 167, 0.7);
} */

@media (max-width: 990px) {
    .navbar {
        padding: 0.5rem 0rem;
    }
}

.navbar-light .navbar-toggler {
    color: #FFFFFF;
    border-color: transparent;
}

.logo {
    width: 210px;
}

.logo-mobile {
    width: 130px;
    cursor: pointer;
}

.caption {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 3.5rem;
    color: #324853;
}

.caption::before {
    content: '';
    position: absolute;
    top: -1rem;
    width: 100%;
    height: 1px;
    background-color: #AEBABD;
}

.version span{
    color: #324853;
    background-color: rgba(190, 205, 209, 0.3);
    /* border: 1px solid #324853; */
    border-radius: 2px;
    padding:1px 10px;
    font-size: 11.5px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

.box {
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 990px) {
    .box {
        width: 500px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.img1 {
    max-width: 100%;
    max-height: auto;
}
  
/* .box:hover img {
    transform: scale(1.1);
}

.thumbnail:hover {
    transform: scale(1.1);
} */

/* 
@media (max-width: 990px) {
    .box:hover img {
        transform: scale(1);
    }
} */
  
.box:hover .box-hover-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.box .box-hover-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 990px) {
    .box .box-hover-text {
        background-color: transparent;
    }
}

h3.box-body {
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 24px;
}
  
span.box-body {
      letter-spacing: 1px;
      font-size: 10px;
      color: #ffffff;
}

.about a {
    background-color:transparent;
    border: 1px solid #aebabd;
    padding: 2px 13px;
    color: #1d698f;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    transition-duration: 0.25s;
}

/* .about a:hover {
    background-color: #aebabd;
    border: 1px solid #aebabd;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    transition-duration: 0.4s;
} */


@media (max-width: 990px) {
    .about {
        display: flex;
        justify-content: center;
    }
}

.box h6 {
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 12px;
}

.intro-work {
    font-size: 11.5px;
    /* letter-spacing: 1px; */
    line-height: 22px;
    color: #324853;
}

.intro-work span {
    color: #af9887;
    font-size: 11.5px;
}

.e-work {
    padding: 25px 15px 0px 15px;
}

@media (max-width: 990px) {
    .e-work {
        padding: 25px 20px 0px 20px;
    }
}

.e-work h6 {
    color: #324853;
}

.e-work span {
    color: #ad9786;
    font-size: 11.5px;
}

.about-img{
    border-radius: 20%;
}

@media (max-width: 990px) {
    .about-img{
        max-width: 40%;
    }
}

.table tbody th {
    border-bottom: transparent;
    font-size: 12px;
    color: #324853;
    border-top: 1px solid #F8F5F3;
    padding: 15px 0px 15px 10px;
}

@media (max-width: 990px) {
    .table tbody th {
        font-size: 12px;
    }
}

.table tbody td {
    border-bottom: transparent;
    font-size: 12px;
    vertical-align: middle;
    color: #324853;
    border-top: 1px solid #F8F5F3;
}

@media (max-width: 990px) {
    .table tbody td {
        font-size: 12px;
    }
}

tr:nth-child(odd){
	background-color: rgba(190, 205, 209, 0.25);
    }

/* tr:nth-child(even){
    background-color: rgba(228, 200, 200, 0.14);
    } */

.title {
    font-size: 12px;
}

.navbar-brand {
    color: rgba(100, 100, 100, 1);
    letter-spacing: 2px;
}

.navbar-brand:hover {
    color: rgba(100, 100, 100, 1)
}

.navbar-toggler-icon {
    background-image:url(index/icon.svg) ;
}

.modal-dialog {
 max-width: 65%;
 margin: 1.75rem auto;
}

@media (max-width: 990px) {
    .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
       }       
}