body {
    /* font-weight: lighter; */
    position: relative;
    background-color: #f4f1eb;
    font-family: "Century Gothic", 'Lato', sans-serif;
}

.et-hero-tabs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 20vh;
position: relative;
background: #eee;
    text-align: center;
    padding: 0 2em;
h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
}

.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
position: relativef;
background: #eee;
    text-align: center;
    padding: 0 2em;
h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
}
}

@media (max-width: 480px) {
    .nav-bar {
        display: none;
    }
}

li {
    position: relative;
    text-align: start;
    font-size: 14px;
    list-style-type: none;
}

@media (max-width: 990px) {
    li {
        position: relative;
        text-align: center;
        font-size: 14px;
        list-style-type: none;
    }
}

/* .dec-line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background: #734e28;
    left:25px;
    top:30px;
} */

.title_01,
.title_02 {
    max-width: 230px;
    font-size: 10px;
    /* color: #000000; */
}

.title_03 {
    max-width: 240px;
}

.navbar-brand {
    width: 100%;
}

@media (min-width:991px) {
    .navbar-brand {
        width: 90%;
    }
}

.date {
    font-size: 9px;
    position: relative;
    color: #564f48;
}

/* .date::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background: #000;
    top: 45px;
    left: 840px;
} */

/* 
.box {
    background-color: thistle;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
} */

/* .title {
    height: 100px;
    margin-top: 12rem;
} */

/* .title_img {
    max-height: 80px;
} */

.close {
    opacity: 1;
}

.close_icon {
    width: 35px;
}

.modal-content {
    background: transparent;
    border: transparent;
}

.modal-content span {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
}

.main-img {
    cursor: pointer;
}

.nav-bar {
    text-align: center;
}

.link {
    /* font-weight: bold; */
    /* position: absolute; */
    width: 120px;
    /* height: 40px; */
    /* letter-spacing: 1px; */
    margin-bottom: 10px;
    font-size: 14px;
    /* border-radius: 100px; */
    background-color: transparent;
    border: transparent;
    /* top: 30px;
    left: 50px; */
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.25s;
    cursor: pointer;
}

.modal-dialog {
    max-width: 840px;
    margin: 2rem auto;
}

.nav-tabs {
    border: transparent;
}

.nav-tabs li a {
    font-size: 11.3px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: #000000;
}

.nav-tabs li {
    margin-bottom: 1.2px;
}

@media (max-width: 990px) {
    .nav-tabs li {
        margin-bottom: 0px;
    }
}

.nav-tabs li a:hover {
    text-decoration: none;
    color: #cccccc;
}

.nav-tabs-outer {
    height: 0px;
    overflow-y: scroll;
    transition: .3s;
}

.nav-tabs-outer.show {
    height: 430px;
}

@media (min-width:991px) {
    .nav-tabs-outer {
        height: 450px;
        overflow-y: scroll;
        transition: .3s;
    }

    .nav-tabs-outer.show {
        height: 450px;
        overflow-y: scroll;
        transition: .3s;
    }
}

.navbar {
    padding: 0.4rem 1rem;
}

@media (max-width: 990px) {
    .navbar {
        padding: 0.5rem 0rem;
    }
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.logo {
    width: 210px;
}

.logo-mobile {
    width: 130px;
    cursor: pointer;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('index/button.png');
    /* background-size: auto; */
    border: 1px solid #AEBABD;
    width: 40px;
    border-radius: 5px;
}

.caption {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 3.5rem;
    color: #324853;
}

.caption::before {
    content: '';
    position: absolute;
    top: -1rem;
    width: 100%;
    height: 1px;
    background-color: #AEBABD;
}

.title {
    color: #324853;
    font-size: 14px;
    font-weight: bold;
}

.version span{
    color: #324853;
    background-color: rgba(190, 205, 209, 0.3);
    /* border: 1px solid #324853; */
    border-radius: 2px;
    padding:1px 10px;
    font-size: 11.5px;
}

::-webkit-scrollbar {
    background-color: transparent;
}

.box {
    width: 300px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 990px) {
    .box {
        width: 500px;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}
  
.box img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.6s;
}
  
.box:hover img {
    transform: scale(1.1);
}

@media (max-width: 990px) {
    .box:hover img {
        transform: scale(1);
    }
}
  
.box:hover .box-hover-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.box .box-hover-text {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(255, 230, 120, 0.8);
}

@media (max-width: 990px) {
    .box .box-hover-text {
        background-color: transparent;
    }
}
  
.box .box-body {
    color: #000000;
}

h4.box-body {
    letter-spacing: 2px;
}

@media (max-width: 990px) {
    h4.box-body {
        letter-spacing: 1px;
        font-size: 18px;
    }
}
  
span.box-body {
      letter-spacing: 1px;
      font-size: 13px;
}

.about a {
    background-color:transparent;
    border: 1px solid #aebabd;
    padding: 2px 13px;
    color: #aebabd;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    transition-duration: 0.25s;
}

/* .about a:hover {
    background-color: #aebabd;
    border: 1px solid #aebabd;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    transition-duration: 0.4s;
} */


@media (max-width: 990px) {
    .about {
        display: flex;
        justify-content: center;
    }
}

.box h6 {
    color: #324853;
    letter-spacing: 1px;
    font-size: 14px;
}

.intro-work {
    font-size: 11.5px;
    /* letter-spacing: 1px; */
    line-height: 22px;
    color: #324853;
}

.intro-work span {
    color: #af9887;
    font-size: 11.5px;
}

.e-work {
    padding: 25px 15px 0px 15px;
}

@media (max-width: 990px) {
    .e-work {
        padding: 25px 20px 0px 20px;
    }
}

.e-work h6 {
    color: #324853;
}

.e-work span {
    color: #ad9786;
    font-size: 11.5px;
}

.about-img{
    border-radius: 100%;
}

@media (max-width: 990px) {
    .about-img{
        max-width: 40%;
    }
}

.table tbody th {
    border-bottom: transparent;
    font-size: 12px;
    color: #324853;
    border-top: 1px solid #F8F5F3;
    padding: 15px 0px 15px 10px;
}

@media (max-width: 990px) {
    .table tbody th {
        font-size: 12px;
    }
}

.table tbody td {
    border-bottom: transparent;
    font-size: 12px;
    vertical-align: middle;
    color: #324853;
    border-top: 1px solid #F8F5F3;
}

@media (max-width: 990px) {
    .table tbody td {
        font-size: 12px;
    }
}

.accordion-button {
    width: 188px;
    justify-content: center;
    /* margin-left: px; */
    margin-bottom: 15px;
    /* background-color:transparent; */
    background-color: #f4f1eb;
    border: transparent;
    border: 2px solid #000000;
    border-radius: 14px;
    padding: 10px 15px 10px 15px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 1px;
}

.e-title {
    margin-bottom: -18px;
    font-size: 10px;
    color: #000000; 
}

.i-mail {
    height: 13px;
}

tr:nth-child(odd){
	background-color: rgba(190, 205, 209, 0.25);
    }

/* tr:nth-child(even){
    background-color: rgba(228, 200, 200, 0.14);
    } */
